<!-- Header -->
<div class="toolbar flex justify-content-between align-items-center" role="banner">
  <div class="flex align-items-center">
    <i class="fa fa-2x fa-list"></i>
    <span>Mock POS</span>
  </div>
  <div routerLink="/checkout" class="flex align-items-center cursor-pointer pr-2 mr-2">
    <i class="fa fa-2x fa-shopping-cart"></i>
    <span>{{cartCount}}</span>
  </div>
</div>
<div class="content xl:px-18 px-6" role="main">
  <!-- Body -->
  <router-outlet></router-outlet>
  <!-- Alert Bubble -->
  <div id="globalAlert" class="alert alert-{{alertClass}} alert-dismissible fade" role="alert">
    <span innerHTML="{{alertText}}"></span>
  </div>
  <!-- Footer -->
  <footer>
    Created by Eric Hunt &copy;2020.
  </footer>
</div>